In [66]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"D:\Machine_learning\Projects\Car_price_Prediction\Dataset\new_file.csv")

In [22]:
df.isna().sum()

price                 0
mileage               0
engine_type         590
transmission          0
assembly              0
engine_capacity       0
body_type          1151
age                1444
brand                 0
model                 0
variant               0
dtype: int64

In [21]:
df.info()
# df = df.dropna(subset=['variant'], how='all')

<class 'pandas.core.frame.DataFrame'>
Index: 82451 entries, 0 to 88720
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            82451 non-null  object
 1   mileage          82451 non-null  object
 2   engine_type      81861 non-null  object
 3   transmission     82451 non-null  object
 4   assembly         82451 non-null  object
 5   engine_capacity  82451 non-null  object
 6   body_type        81300 non-null  object
 7   age              81007 non-null  float64
 8   brand            82451 non-null  object
 9   model            82451 non-null  object
 10  variant          82451 non-null  object
dtypes: float64(1), object(10)
memory usage: 7.5+ MB

In [24]:
df.isna().sum()

price                 0
mileage               0
engine_type         590
transmission          0
assembly              0
engine_capacity       0
body_type          1151
age                1444
brand                 0
model                 0
variant               0
dtype: int64

In [42]:
df[df.price.isnull()]

,price,mileage,engine_type,transmission,assembly,engine_capacity,body_type,age,brand,model,variant
218,NaN,1 km,Petrol,Automatic,Imported Cars,2500 cc,Sedan,3.0,Hyundai,Sonata,2.5
282,NaN,"90,000 km",Petrol,Automatic,Imported,5000 cc,Double Cabin,7.0,Ford,F,150 Raptor 5.0L
423,NaN,"95,000 km",Petrol,Manual,Imported Cars,1000 cc,Hatchback,22.0,Suzuki,Cultus,VXR
590,NaN,10 km,Diesel,Automatic,Imported Cars,2800 cc,Pick Up,3.0,Toyota,Hilux,Revo Rocco
810,NaN,"12,000 km",Petrol,Automatic,Imported Cars,2000 cc,Sedan,3.0,Hyundai,Elantra,GLS
...,...,...,...,...,...,...,...,...,...,...,...
88159,NaN,"119,000 km",Petrol,Automatic,Imported,4700 cc,SUV,21.0,Toyota,Land,Cruiser Cygnus
88163,NaN,"51,000 km",Petrol,Automatic,Imported Cars,2700 cc,SUV,10.0,Toyota,Fortuner,2.7 VVTi
88166,NaN,"71,000 km",Petrol,Automatic,Imported Cars,1000 cc,Hatchback,7.0,Toyota,Vitz,F 1.0
88168,NaN,"14,000 km",Petrol,Automatic,Imported,660 cc,Hatchback,5.0,Daihatsu,Mira,B
88685,NaN,5 km,Petrol,Automatic,Imported Cars,1500 cc,Sedan,3.0,Changan,Alsvin,1.5L DCT Lumiere

In [69]:
df.price.value_counts()

price
2200000.0     774
2100000.0     743
1350000.0     742
1250000.0     722
1850000.0     712
             ...
7590000.0       1
6249000.0       1
2837000.0       1
4315000.0       1
57500000.0      1
Name: count, Length: 2204, dtype: int64

In [64]:
type(abc)

pandas.core.series.Series

In [47]:
df["price"] = df["price"].str.split()

In [51]:
df["price"] = df["price"].apply(lambda x: x[1:] if isinstance(x, list) else x)

In [68]:
import numpy as np

def convert_price(value):
    if isinstance(value, str):
        value = value.replace("PKR", "").strip().lower()  # Remove "PKR" and spaces
        
        if "lacs" in value:
            return float(value.replace("lacs", "").strip()) * 100000  # Convert lacs to actual value
        
        elif "crore" in value:
            return float(value.replace("crore", "").strip()) * 10000000  # Convert crore to actual value
        
        elif "call for price" in value:
            return np.nan  # Assign NaN to "call for price"
    
    return np.nan  # Default NaN for unexpected values

# Apply function to price column
df["price"] = df["price"].apply(convert_price)

In [75]:
df.mileage.isna().sum()

0

In [72]:
# Convert mileage to Numeric

df["mileage"] = df["mileage"].str.replace(",", "", regex=True)  # Remove commas
df["mileage"] = df["mileage"].str.replace(" km", "", regex=True)  # Remove " km"
df["mileage"] = pd.to_numeric(df["mileage"], errors="coerce")  # Convert to numeric

In [77]:
df.transmission.value_counts()

transmission
Automatic    46391
Manual       42330
Name: count, dtype: int64

In [78]:
df["transmission"] = df["transmission"].map({"Automatic": 1, "Manual": 0})

In [81]:
df.assembly.value_counts()
df.drop(columns=["assembly"], inplace=True)

In [85]:
df["engine_capacity"] = df["engine_capacity"].str.replace(" cc", "", regex=True)

In [87]:
df["engine_capacity"] = df["engine_capacity"].str.replace(" kWh", "", regex=True).astype(float)

In [96]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df["brand"] = label_encoder.fit_transform(df["brand"])
df["model"] = label_encoder.fit_transform(df["model"])

In [98]:
df.drop(columns=["brand_encoded", "model_encoded"], inplace=True)

In [103]:
df["variant"] = label_encoder.fit_transform(df["variant"])

In [106]:
df["engine_type"] = label_encoder.fit_transform(df["variant"])
df["body_type"] = label_encoder.fit_transform(df["variant"])
df["age"] = label_encoder.fit_transform(df["variant"])

In [104]:

df.variant.value_counts()

variant
1464    6270
1270    5239
742     2636
954     1956
1256    1935
        ...
538        1
468        1
434        1
192        1
1419       1
Name: count, Length: 1465, dtype: int64

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88721 entries, 0 to 88720
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            87327 non-null  float64
 1   mileage          88721 non-null  int64
 2   engine_type      88721 non-null  int64
 3   transmission     88721 non-null  int64
 4   engine_capacity  88721 non-null  float64
 5   body_type        88721 non-null  int64
 6   age              88721 non-null  int64
 7   brand            88721 non-null  int32
 8   model            88721 non-null  int32
 9   variant          88721 non-null  int32
dtypes: float64(2), int32(3), int64(5)
memory usage: 5.8 MB

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [120]:
df.price.value_counts()

price
2.200000e+06    774
2.100000e+06    743
1.350000e+06    742
1.250000e+06    722
1.850000e+06    712
               ...
1.549000e+06      1
7.980000e+05      1
5.157000e+06      1
1.132000e+06      1
3.794363e+06      1
Name: count, Length: 3415, dtype: int64

In [119]:
df.isna().sum()

price              0
mileage            0
engine_type        0
transmission       0
engine_capacity    0
body_type          0
age                0
brand              0
model              0
variant            0
dtype: int64

In [118]:
from sklearn.ensemble import RandomForestRegressor

def impute_categorical_values(df, target_column):
    df_copy = df.copy()

    # Separate known (non-null) and unknown (null) values
    known = df_copy[df_copy[target_column].notnull()]
    unknown = df_copy[df_copy[target_column].isnull()]

    if unknown.empty:
        return df  # No missing values to impute

    # Define X (features) and y (target)
    X = known.drop(columns=[target_column])
    y = known[target_column]

    # Train the RandomForestClassifier
    model = RandomForestRegressor(n_estimators=100, random_state=42)
    model.fit(X, y)

    # Predict missing values
    predictions = model.predict(unknown.drop(columns=[target_column]))

    # Fill missing values in the original dataset
    df.loc[df[target_column].isnull(), target_column] = predictions  

    return df

# Apply to categorical columns
for col in ['price']:  # Adjust based on your dataset
    df = impute_categorical_values(df, col)

In [121]:
df.to_csv("encoded_file.csv", index=False)